A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack
body {font: 13px Helmet, Freesans, sans-serif;}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333;}


a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #8f3931; color: #fff; text-shadow: none;}
::selection {background: #8f3931; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }


/* no barriers styles */

body {
	font-family: 'ProximaNova-Regular', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.container {
	position: relative;
}

/* header and nav */
.header, header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    color:#767676;
    z-index: 1000;
    max-height: 107px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    line-height:75px;
    opacity: .8;
    box-shadow: 0 0 25px #000;

}
.header.shrink, header.shrink {
    height: 50px;
    line-height:40px;

}

#logo img {
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.shrink #logo img {
	height: auto; 
	width: 60%;
}

#primary {
	overflow: auto;
	float: right;
	text-align: right;
	width:  100%;
}
.shrink #primary {
	height: 40px; 
}
#primary li {
	display: inline;
	list-style-type: none;
	padding: 0% 0 0% 5%;
	text-transform: uppercase;
	-webkit-transition: ease-in-out .25s;
	-moz-transition: ease-in-out .25s;
	-ms-transition: ease-in-out .25s;
	-o-transition: ease-in-out .25s;
	transition: ease-in-out .25s;
}

#primary li>a {
	color: #700000;
	padding-bottom: 1%;
	margin: 4% 0;
	font-size: 1.5rem;
	border-bottom: 3px solid #700000;
	padding-bottom: 2px;
}

#primary li>a:hover {
	text-decoration: none;
	border-bottom: 3px solid #3a7676;
	color: #3a7676;
}

/* the profiles features */

#feature1 {
margin-top: 0px;
}


/* profiles */
.profile {
	width: 100%;
	max-width: 1896px;
	margin: 0 auto;
	position: relative;
}

.profile .quote {
	position: absolute;
	top: 20%;
}
.profile .statement {
	position: absolute;
	left: 0;
	bottom: 5.5em;
}

#feature1 .section {
	background-color: rgba(0,0,0,.25);
	position: absolute;
	bottom: 2.5em;
	font-size: 1.4em;
    font-family: 'ProximaNovaT-Thin';
    color: #fff;
    padding: 1em;
    text-align: right;
}

#feature1 .section h2{
	font-size: 4em;
	font-family: 'ProximaNova-Bold';
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	line-height: 50%;
	text-shadow: 0px 0px 60px #000;
	color: #f8f8d8;
}

#feature1 .statement h3 {
	color: #96CECE;
	font-family: 'ProximaNova-Bold';
    text-shadow: none;
	font-size: 24px;
	margin-top: 20px;
    margin-bottom: 10px;
}


#feature2 .section {
	bottom: .5em;
	background-color: rgba(0,0,0,.25);
	position: absolute;
	font-size: 1.4em;
    font-family: 'ProximaNovaT-Thin';
    color: #fff;
    padding: 1em;
    text-align: right;
	
}

#feature2 .section h2{
	font-size: 1.65em;
	font-family: 'ProximaNova-Bold';
	text-transform: uppercase;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 50%;
	text-shadow: 0px 0px 60px #000;
	color: #96CECE;
}

#feature2 .section h3 {
	color: #fff;
}

#feature2 .section a {
	text-decoration: none;
	color: #428bca;
}

#feature2 .section h1, #feature3 .section h1 {
	font-size: 1.65em;
	text-shadow: none;
}
#feature2 .section h1 {
	color: #333;
}


#difference h2 {
	color: #3a7676;
	font-size: 300%;
}


#feature3 .section {
	bottom: .5em;
	background-color: rgba(0,0,0,.25);
	position: absolute;
	font-size: 1.4em;
    font-family: 'ProximaNovaT-Thin';
    color: #fff;
    padding: 1em;
    text-align: right;
	
}

#feature3 .section h2{
	font-size: 1.65em;
	font-family: 'ProximaNova-Bold';
	text-transform: uppercase;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 50%;
	text-shadow: 0px 0px 60px #000;
	color: #e4ae48;
}

#feature3 .section h3 {
	color: #fff;
}

#professional h2 {
	color: #e4ae48;
	font-size: 300%;
}


#feature2 + .container.points h3, #feature3 + .container.points h3{
	color: #e4ae48;
	font-family: 'ProximaNova-Bold';
}
.statement h3 {
	font-family: 'ProximaNova-Regular';
	text-shadow: none;
}

.statement {
	font-size: 1.4em;
	font-family: 'ProximaNovaT-Thin';
	color: #fff;
}

#feature2 + .container.points h3 {
	color: #3a7676;
}
#feature2.profile, #feature3.profile {
	overflow:hidden;
}

.empower {
	counter-reset: my-badass-counter;
	padding-left: 2em;
	padding-top: 2em;
}
.empower dt:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter;
	font-size: 2em;
	display: inline;
	border: 3px solid #3a7676;
	border-radius:5em;
	position: absolute;
	padding: .25em .65em;
	width: 2em;
	height: 2em;
	background-color: #efefef;
	color: #3a7676;
	margin-left: -1.25em;
}
.empower dt > p {
	margin-left: 2em;
	display: inline-block;
}


.highlight-container {
	width: 100%;
	max-width: 1896px;
	margin: 0 auto;
	height: auto;
	padding: 4em;
	position: relative;
	overflow: hidden;
}
#hc1 {
	background-color: #8f3931;
}
#hc2 {
	background-color: #3a7676;
}
#hc3 {
	background-color: #e4ae4b;
}

.highlight-container h2 {
	font-size: 4em;
	text-transform: uppercase;
	font-family: 'ProximaNova-Bold';
	color: white;
	text-align: center;
}
.highlight-container h4{
	font-family: 'ProximaNova-Regular';
	font-size: 1.75em;
	color: white;
}
.highlight-container p {
	font-family: 'ProximaNovaT-Thin';
	font-size: 1.25em;
	color: white;
}
#hc1 h3 {
	color: #8f3931;
}



#hc2 .circles{
	position: absolute;
}

#highlight2.container img#cir1{
	right: 0%;
	top: 0%;
	width: 250px;
}

#highlight2.container img#cir2{
	left: 0%;
	top: -10%;
	width: 160px;
}
#highlight2.container img#cir3{
	left: 40%;
	top: 20%;
	width: 200px;
}

.info-row.statement {
	font-size: 1em;
}

.container.points {
	padding: 2em 0;
	position: relative;
}

.container.points h2 {
	font-size: 1.7em;
    color: #666;
    font-family: 'ProximaNova-Bold';
}
.container.points h3{
	
	font-size: 1.5em;
	font-family: 'ProximaNovaT-Thin';
	color: #767676;
	line-height: 200%;
	margin: 0;
	padding: 0;
}
.container.points .col-lg-12{

	padding: 3em 0;
}
.container.points a{
	font-family: 'ProximaNova-Bold';
}
.container.points p {
	margin: 0 0 10px;
	font-size: 1.25em;
	line-height: 160%;
	color: #767676;
	font-family: 'ProximaNovaT-Thin'
}
#hc2 + .container.points h3{
	color: #3a7676;
}
#hc3 + .container.points h3{
	color: #e4ae4b;
}
.quote {
	color: white;
	font-size: 3em;
	font-family: 'ProximaNova-Bold';
}
.ss-quote::before {
	margin-left: -1em;
}

#highlight1.container img, #highlight2.container img, #highlight3.container img  {
	width: 100%;
	height: auto;
}

#highlight1.container .ss-quote, #highlight2.container .ss-quote, #highlight3.container .ss-quote{
	font-size: 2em;
}
#highlight1.container .ss-quote, #highlight3.container .ss-quote, #highlight1.container .student, #highlight3.container .student {
	text-align: right;
}

.student strong {
	font-family: 'ProximaNova-Bold';
}

.ss-quote:before {
	margin-right: .5em;
}

.quote span{
	display: block;
	font-size: .65em;
	font-family: 'ProximaNovaT-Thin'
}

/* styling for the moving icons */
.icon {
	margin: 0 auto;
	display: block;
}

.img-thumbnail {
	width: 100% !important;
}
.col-lg-5 {
	position: relative;
}

#brick1 {
	width:20%;
	height: auto;
	position: absolute;
}

#feature1 #cobb {
	position: absolute;
	right: 05%;
	top: 105%;
	opacity: .5;
	width: 28%;
}

.info-row {
	display: flex;
	flex-direction: row;
}

/* style for the moving quotes */
.quote > p > span {
opacity: .35;
}

.bar {
	position: absolute;
	width: 500px;
	height: 6px;
	background-color: #fff;
	opacity: .1;
	
}
#bar1 {
	left: 0;
	top: 35px;
}
#bar2{
	left: 200px;
	top: 20px;
}
#bar3{
	left: 100px;
	top: 110px;
}
#bar4{
	left: 0;
	top: 210px;
}
#bar5 {
	right: 400px;
	top: 250px;
}
#bar6{
	right: 200px;
	top: 85px;
}
#bar7{
	right: 100px;
	top: 160px;
}
#bar8{
	right: 0;
	top: 280px;
}

#bar9 {
	left: 15px;
	top: 70px;
}
#bar10{
	left: 65px;
	top: 95px;
}
#bar11{
	left: 100px;
	top: 175px;
}
#bar12{
	left: 0;
	top: 235px;
}
#bar13{
	right: 135px;
	top: 145px;
}
#bar14{
	right: 35px;
	top: 265px;
}
#bar15 {
	right: 35px;
	top: 310px;
}
#bar16{
	right: 235px;
	top: 120px;
}

.loanfree{
	background-color: #e8f1f1;
	padding: 1em 2.5em
}
.difference {
	padding-top: 1em;
}

.highlight-container.footer {
	padding: 1em 0;
}
.highlight-container.footer p {
	font-size: .875em;
	line-height: 150%;
	margin-top: 1em;
}
.footer {
	background-color: #565656;
}

.shield{
	background: url(http://collegeadmissions.uchicago.edu/sites/all/themes/plaisance/i/template/sprite_v2.svg) 0 0 no-repeat;
	background-size: 100%;
	text-indent: -9999px;
	height: 45px;
	width: 220px;
	color: white;
}

.footer a {
	color: white;
}
strong {
	font-family: 'ProximaNova-Regular';
}

/* styles for the neubauer page */

#neubauer {
	font-size: 20px;
	line-height: 160%;
	background: #8f3931;
	font-family: 'ProximaNova-Regular', Helvetica, Arial, sans-serif;
}


#neubauer h1 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'ProximaNova-Bold';
	font-size: 2.5em;
	margin-top: 2.25em;
	border-bottom: 3px solid rgb(95, 35, 35);
	padding-bottom: .5em;

	box-shadow: 0px 1px 0px rgb(153, 97, 97);
}
#neubauer h2 {
	font-size: 1.5em;
	color: #F5E9AB;
}
#neubauer p {
	font-size: 1em;
	color: #fff;
}
#neubauer a {
	color: #99C0D3;
}

#neubauer #gift, #neubauer #students, #neubauer #nobarriers {
	line-height: 200%;
}

#neubauer blockquote {
	color: rgb(229, 226, 198);
	border-left: none;
	background-color: #7C2F28;
	padding: 2em;
border-radius: 1em;
	background: #8f3931; /* Old browsers */
background: -moz-linear-gradient(top,  #8f3931 0%, #7c2f28 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8f3931), color-stop(100%,#7c2f28)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #8f3931 0%,#7c2f28 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #8f3931 0%,#7c2f28 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #8f3931 0%,#7c2f28 100%); /* IE10+ */
background: linear-gradient(to bottom,  #8f3931 0%,#7c2f28 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f3931', endColorstr='#7c2f28',GradientType=0 ); /* IE6-9 */

}

#neubauer blockquote:before {
  content: 'quote';
  font-family: 'SSStandard';
  font-size: 3em;
  /* line-height: 0.1em; */
  /* margin-right: 0.25em; */
  /* vertical-align: -0.4em; */
  position: absolute;
  margin-top: 0;
  margin-left: -1.25em;
  color: rgb(95, 35, 35);
}
#neubauer blockquote p {
  display: inline;
}



/* Para scroll styless 
-------------------------------------------------------------------------------*/

	* {
		padding:0;
		margin:0;
	}

	html, body {
		height:100%;
	}

	.skrollr-desktop body {
		height:100% !important;
	}

	body {
		font-family:sans-serif;
	}

	p {
		margin:1em 0;
	}

	.parallax-image-wrapper {
		position:fixed;
		left:0;
		width:100%;
		overflow:hidden;
	}

	.parallax-image-wrapper-50 {
		height:50%;
		top:-50%;
	}

	.parallax-image-wrapper-100 {
		height:100%;
		top:-100%;
	}

	.parallax-image {
		display:none;
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		background-repeat:no-repeat;
		background-position:center;
		background-size:cover;
	}

	.parallax-image-50 {
		height:200%;
		top:-50%;
	}

	.parallax-image-100 {
		height:100%;
		top:0;
	}

	.parallax-image.skrollable-between {
		display:block;
	}

	.no-skrollr .parallax-image-wrapper {
		display:none !important;
	}

	#skrollr-body {
		height:100%;
		overflow:visible;
		position:relative;
	}

	.gap {
		background:transparent center no-repeat;
		background-size:cover;
	}

	.skrollr .gap {
		background:transparent !important;
	}

	.gap-50 {
		height:50%;
	}

	.gap-100 {
		height:100%;
	}

	.content-full {
		height:100%;
	}

	#done {
		height:100%;
	}

	.header2, .content {
		background:#fff;
		padding:1em;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}




/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {
	#neubauer {
		font-size: 14px;
		line-height: 140%;
	}
	#neubauer h1 {
		margin-top: 3em;
		font-size: 2em;
		border-bottom: 1px solid rgb(95, 35, 35);
		padding-bottom: 1em;
	}
	#neubauer blockquote {
		padding: 1em;
	}
	#neubauer blockquote::before {
		font-size: 2em;
	}
		
}



/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}