
/* CSS */

html, body{
    padding: 0;
    margin: 0;
}

body{
    font: normal 16px/1.25em "ProximaNova-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
}

nav {
    position: fixed;
    /* width: 5%; */
    /* min-width: 88px; */
    background-color: rgba(200,200,200,.5);
    right: 0;
    top: 33%;
    z-index: 1000;
    text-align: center;
    /* padding: 2% 1.5%; */
    display: block;
    margin-right: 1%;
}

#slide-2 h1, #slide-3 h1, #slide-6 h1, #slide-9 h1  {
    text-indent: -2000px;
}

nav a{
    display: block;
    font-size: 200%;
    margin: 1% 0;
    line-height: 100%;
    color: rgba(255,255,255,.5)
;
    width: 100%;
    padding: 3% 20%;
    min-width: 44px;
}

nav a.active{
    background-color: #777;
    color: rgba(255,255,255, 1);
}

nav a:hover  {
    background-color: #ccc;
    color: rgba(0,0,0,.25);
    text-decoration:none;
    
}
nav a:focus{
    background-color: none;
    outline: none;
    text-decoration: none;
}

main {
    overflow-x: hidden;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    color:#767676;
    z-index: 1000;
    max-height: 107px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    line-height:75px;
    opacity: .6;
    box-shadow: 0 0 25px #000;

}

.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
/* Slide 1 */
#slide-1 .bcg {background-image:url('../../assets/img/convocation.jpg');



}

#f-scroll{
    position: absolute;
    bottom: 0;
    margin-left: 48%;
    background-color: rgba(255,255,255,.5);
    padding: .75%;
    font-size: .85em;
}

#f-scroll:after{
    content: '\25BC'
}

#f-scroll:before{
    content: '\25BC'
}


/* CSS - Slide 2 */
#slide-2 .bcg {
    background: none;
    background-color: #010101;
    text-align: center;
        
}

/* CSS - Slide 3 */
#slide-4 .bcg { 
    background-image:url(../../assets/img/family2.jpg);
    background-attachment: none;
}


/* Slide 4 */
.curtainContainer {
    width: 100%; height: 100%;
    position: relative;
}

/* Slide 5 */
#slide-7 .bcg {background-image:url('../../assets/img/campus1.jpg')}

.curtainContainer .curtain {
    width: 300%; height: 1px;
    background-color: #000000;
    position: absolute; top: 25%; left: 0;
    opacity: 0
}

.curtainContainer .copy {
    position: absolute;
    bottom: 30%; 
    /* left: 5%; */
    /* width: 100%; */ 
    text-align: center;
    text-align: left;
    color: white;
    /* width: 50%; */ 
}
.curtainContainer h1 {
    font: normal 300% 'ProximaNova-Bold', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
}
.curtainContainer h2 {
    font-size: 
}



#slide-5 .bcg2 {
    background:none;
    
    }

#slide-5 .bcg3 {
    background-image:url('../../assets/img/campus1.jpg');
    position: fixed; 
    bottom: 0; 
    left: 0;
}

#enriching{
   
}


.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#slide-1 .hsContent {
    padding-top: 10%;
}
.hsContent {
    /* max-width: 450px; */
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    padding: 20% 0% 0;
    /* text-align: center; */
}
    
.copy h2 {
        color: #ffffff;
        font-size: 45px;
        line-height: 48px;
        margin-bottom: 12px;
    
}
    .hsContent p {
        /* width: 30%; */
        margin: 0 auto;
        /* color: #efefef; */
    
}
    .hsContent a {
        color: #86D5E9;
        text-decoration: none;
        font-weight: bold;
        font-family: 'ProximaNova-Bold', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
}

.hsContent a:hover{
    text-decoration: underline;
}
    .bgBlack {
        background-color: rgba(0,0,0,0.75);
        padding: 3px 10px;
    }

.points {
    padding-bottom: 5%;
}

/* styles for individual slides */


#slide-1 .hsContent h1, #slide-1 .hsContent h2, #slide-1 .hsContent p, 
#slide-4 .hsContent h2, #slide-4 .hsContent p{
    float:left;
    clear: left;
    text-align: left;
    width: 50%;
    margin: 0;
    padding: 0;
    line-height: 180%;
}

#slide-1 .hsContent h1 {
    text-transform: uppercase;
    font-size:4em;
    line-height: 100%;
    font-family: 'ProximaNova-Bold';
    background-color: rgba(0,0,0,.5);
    padding: 30px 20px 0;
    color: white;
    text-shadow: 1px 1px 10px rgba(0,0,0,.5);
}
#slide-1 .hsContent h2 {
    font-size: 2.5em;
    background-color: rgba(0,0,0,.5);
    padding: 0 20px;
    color: #BEF0F4;
    font-family: 'ProximaNova-Bold'
}
#slide-1 .hsContent p {
    background-color: rgba(0,0,0,.5);
    padding: 0 20px 30px;
    font-size: 140%;
}
#slide-2 .hsContent{
    padding: 0;
}
#slide-2 .hsContent .col-lg-12 {
    margin-bottom: 4em;
    padding-bottom: 4em; 
    /* border-bottom: 2px solid #642822; */
    /* box-shadow: 0px 1px 0px rgba(255,255,255,.25); */
}
#slide-2 .hsContent .container h2, #slide-2 .hsContent .container p {
    width: 100%;
    text-align: center; 
    font-size: 150%;
    line-height: 170%;
}

#slide-2 .hsContent .points > div{
    min-height: 100px;
    max-height: 300px;
}
#slide-2 .hsContent .container h2 {
    font: bold 400% 'ProximaNova-Bold', "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 2px;
    color: #f4f3be;
    text-transform: uppercase;
}

#slide-3{
    background-color: #F5f5f5;
    padding-right: 0;
    padding-bottom: 5%;
}
#slide-6{
    background-color: #3a7676;
    padding-bottom: 5%;
    padding-left: 0;
}

#slide-9 {
    background-color: #e4ae4b;
    padding-bottom: 5%;
    padding-right: 5%;
}

#slide-3 .hsContent img, #slide-6 .hsContent img, #slide-9 .hsContent img {
    width: 100%;
}


#slide-3 .hsContent p, #slide-6 .hsContent p, #slide-9 .hsContent p {
    font: normal 200% 'ProximaNova-Regular', 'Helvetica-Neue', Helvetica, sans-serif;
    color: #777;
    line-height: 150%;
    margin-left: 5%;
    z-index: 1;
}
#slide-3 .hsContent p.name, #slide-6 .hsContent p.name, #slide-9 .hsContent p.name {
    font-size: 140%;
    line-height: 120%;
    margin-top: 5%;
    z-index: 1;
}
#slide-3 p.name strong{
    text-transform: uppercase;
    font-family: 'ProximaNova-Bold', Helvetica, Arial, sans-serif;
    font-weight: 900;
}

#slide-3 .hsContent p::before, #slide-6 .hsContent p::before, #slide-9 .hsContent p::before {
    margin-left: 0px;
    font-size: 2.75em;
    color: #ccc;
    position: absolute;
    z-index: -1;
    margin-left: -10px;
    opacity: .5;
}
#slide-4 h1, #slide-4 .hsContent h2, #slide-4 .hsContent p{
    color: #333;
    background-color: rgba(255,255,255,.75);
    padding: 0 4%;
    float: right;
    clear: right; 
    text-align: right;
    width: 100%;
    margin: 0;
    margin: 0 1%;
}
#slide-4 .hsContent h1, #slide-7 .hsContent h1{
    color: #780000; 
    text-transform: uppercase;
    font: normal 240%/150% 'ProximaNova-Bold', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
}
#slide-4 .hsContent h2, #slide-7 .hsContent h2{
    font-size: 220%;
    font-family: 'ProximaNova-Bold', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
}
#slide-4 .hsContent p, #slide-7 .hsContent p {
    font-size: 130%;
    line-height: 180%;
}
#slide-7 .hsContent .col-md-8.col-lg-8{
    text-align: center;
    background-color: rgba(0,0,0,.3);
    padding: 1%;
}

#slide-7 .hsContent h1{
    color: #e4ae4b;
    font-size: 350%;
}

#slide-6 .hsContent p {
    text-align: right;
    color: white;
}

#slide-9 .hsContent p{
    color: white;
}

#empower, #enrich {
    padding-bottom: 5%;
}
#slide-5 .hsContent h1, #slide-5 .hsContent h2, #slide-5 p{
    text-align: left; 

}

#slide-5 .container, #slide-8 .container {
    position: relative;
    height: 100%;
    padding: 5% 0;
    
    min-height: 552px;
}

#slide-5 .container h1 {
    font: bold 400%/180% 'ProximaNova-Bold', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #3a7676;
}
#slide-5 .container h2 {
    font: normal 250%/180% 'ProximaNova-Regular', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}
#slide-5 .container p {
    font-size: 120%;
    line-height: 180%;
    text-align: center;
}
#slide-8 .container h1{
    font: bold 400%/180% 'ProximaNova-Bold', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #e4ae4b;
}
#slide-8 .container p {
    font-size: 120%;
    line-height: 180%;
    text-align: center;
    color: #919191;
}

#footer {
    background-color: #8f3931;
    color: white;
    min-height: 20em;
    padding: 4em 0;
    font-size: 80%;
}

#footer .shield{
    background: url(../../assets/img/sprite_v2.svg) no-repeat 0 0px;
    background-size: 100%;
    height: 52px;
    text-indent: -2000px;
    margin-top: 0px;
}
#footer .shield h1 {
    margin: 0;
}

#footer a {
    color: white;
}
#footer a:hover{
    color: #ccc;
    }